<!-- <app-create-drive></app-create-drive> -->

<div style="padding: 5px" class="bg">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="reg">Registration</a></li>
        <li routerLinkActive="active">
            <a routerLink="login">Login</a></li>
        <li routerLinkActive="active">
            <a routerLink="create-drive">Create Drive</a></li>
        <li routerLinkActive="active">
                <a routerLink="view-drive">View Drive</a></li>
    </ul>
                <router-outlet></router-outlet>
</div>