<html>
<mat-card [ngStyle]="{'background-color':'pink'}">
    <mat-card-title>Update Drive</mat-card-title>
  <mat-card-content>
  <form>
  <p>
      <mat-form-field appearance="legacy">
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Company Name" name="companyname" [(ngModel)]="tpobj.companyname">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>No of Resources</mat-label>
        <input matInput placeholder="No of Resources" name="resources" [(ngModel)]="tpobj.resources">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Exp Required</mat-label>
        <input matInput placeholder="Exp Required" name="experience" [(ngModel)]="tpobj.experience">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>CTC</mat-label>
        <input matInput placeholder="CTC" name="ctc" [(ngModel)]="tpobj.ctc">
      </mat-form-field>
    </p>
    
    <mat-form-field>
      <select placeholder="Joining Criteria" name="joining" [(ngModel)]="tpobj.joining"  matNativeControl required>
        <option value="0">Internship</option>
        <option value="1">Training & Joining</option>
        <option value="2">Direct Joining</option>
      </select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
  
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Bond</mat-label>
        <input matInput placeholder="Bond" name="bond" [(ngModel)]="tpobj.bond">
      </mat-form-field>
    </p>
    <mat-form-field>
      <select placeholder="Position" name="position" [(ngModel)]="tpobj.position" matNativeControl required>
        <option value="0">Software developer</option>
        <option value="1">Tester</option>
        <option value="2">Full Stack dev</option>
        <option value="3">Data Administrator</option>
      </select>
      
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>FollowUp</mat-label>
        <input matInput placeholder="FollowUp" name="followup" [(ngModel)]="tpobj.followup">
        
      </mat-form-field>
    </p>
    
    <mat-form-field>
      <select placeholder="Education Criteria" name="criteria" [(ngModel)]="tpobj.criteria"  matNativeControl required>
        <option value="0">BE</option>
        <option value="1">BCS</option>
        <option value="2">BCOM</option>
        
      </select>
      
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  
    <div class="button">
      <button type="submit" mat-raised-button  (click)="edit(this.e)"  color ="primary">Update</button>
    </div>
  </form>
  </mat-card-content>
  </mat-card>
  